RewriteEngine on
RewriteBase /
RewriteRule ^(login|knowledge|payment|link|merchant|logout)?$ index.php?a=$1 [L]
RewriteRule ^login/auth?$ index.php?a=login&type=auth [L]
RewriteRule ^password/reset?$ index.php?a=password&b=reset [L]
RewriteRule ^password/change/(.*)?$ index.php?a=password&b=change&hash=$1 [L]
RewriteRule ^email-verify/(.*)?$ index.php?a=email_verify&hash=$1 [L]
RewriteRule ^account/(summary|disputes|ref|activity|settings|supports)?$ index.php?a=account&b=$1 [L]
RewriteRule ^account/money/(converter|send|link|request|deposit|withdrawal|evoucher|fixed_deposit)?$ index.php?a=account&b=money&c=$1 [L]
RewriteRule ^account/money/fixed_deposit/(.*)?$ index.php?a=account&b=money&c=fixed_deposit&page=$1 [L]
RewriteRule ^account/prepaid_card/(card)?$ index.php?a=account&b=prepaid_card&c=$1 [L]
RewriteRule ^account/money/request/pay/(.*)?$ index.php?a=account&b=money&c=request_pay&id=$1 [L]
RewriteRule ^account/money/request/cancel/(.*)?$ index.php?a=account&b=money&c=request_cancel&id=$1 [L]
RewriteRule ^account/transaction/(.*)?$ index.php?a=account&b=transaction&id=$1 [L]
RewriteRule ^account/dispute/(.*)?$ index.php?a=account&b=disputes&c=dispute&id=$1 [L]
RewriteRule ^account/disputes/(.*)?$ index.php?a=account&b=disputes&page=$1 [L]
RewriteRule ^account/open/dispute/(.*)?$ index.php?a=account&b=disputes&c=open&txid=$1 [L]
RewriteRule ^account/escalate/dispute/(.*)?$ index.php?a=account&b=disputes&c=escalate&id=$1 [L]
RewriteRule ^account/close/dispute/(.*)?$ index.php?a=account&b=disputes&c=close&id=$1 [L]
RewriteRule ^account/settings/(profile|business|change_password|wallet_passphrase|2fa|verification|logs|api_key)?$ index.php?a=account&b=settings&c=$1 [L]
RewriteRule ^account/activity/(.*)?$ index.php?a=account&b=activity&page=$1 [L]
RewriteRule ^deposit/(.*)/success?$ index.php?a=deposit&b=success&id=$1 [L]
RewriteRule ^deposit/(.*)/fail?$ index.php?a=deposit&b=fail&id=$1 [L]
RewriteRule ^account/logs/(.*)?$ index.php?a=account&b=logs&page=$1 [L]
RewriteRule ^page/(.*)?$ index.php?a=page&prefix=$1 [L]
RewriteRule ^knowledge/articles/(.*)?$ index.php?a=knowledge&b=articles&id=$1 [L]
RewriteRule ^payment/(.*)?$ index.php?a=payment&hash=$1 [L]
RewriteRule ^link/(.*)?$ index.php?a=link&b=$1 [L]
RewriteRule ^account/support/(.*)?$ index.php?a=account&b=supports&c=support&id=$1 [L]
RewriteRule ^account/supports/(.*)?$ index.php?a=account&b=supports&page=$1 [L]
RewriteRule ^account/open/support/(.*)?$ index.php?a=account&b=supports&c=open&txid=$1 [L]
RewriteRule ^account/escalate/support/(.*)?$ index.php?a=account&b=supports&c=escalate&id=$1 [L]
RewriteRule ^account/close/support/(.*)?$ index.php?a=account&b=supports&c=close&id=$1 [L]
RewriteRule ^account/escrow/(open)?$ index.php?a=account&b=escrow&c=$1 [L]